.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
}


.layout-content {
  overflow-y: auto;
}

.user-info {
  width: 100%;
  display: flex;
  justify-content: space-between;


  .span{
    margin-right: 30px;
  }

  .user-name {
    margin-right: 20px;
    text-align: left;
  }

  .user-logout {
    //display: inline-block;
    cursor: pointer;
    text-align: right;
  }
}
.ant-layout-header {
  padding: 0 !important;
}